/* 投稿の概要 */
.breed-user {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px ;
  width: 100%;
}

.breed-item{
  height: 50px;
  font-size: 25px;
  padding-top: 12px;
}

.breed-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 7vh;
}

.breed-box {
  width: 60vw;
  min-width: 1200px;
  padding: 2vh 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breed-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.breed-box-img {
  height: 45vh;
  width: 55vw;
  min-height: 450px;
  object-fit: contain;
}

.detail-table {
  margin: 25px 0;
  width: 45%;
}

.detail-breed {
  padding: 20px;
  background-color: #68310486;
  border: 1px solid #68310486;
  font-size: 20px;
  text-align: center;
}

.detail-value {
  width: 75%;
  padding: 20px;
  border: 1px solid #68310486;
  font-size: 20px;
}

