/* 共通 */

/* 各入力フォームの必須表現に使用 */
.indispensable {
  background: #68310486;
  margin-left: 8px;
  padding: 3px;
  color: #fff;
  font-size: 12px;
}

.breed_link {
	padding: 0.1em 0.3em;
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, #68310486 50%);
	background-position: 0 0;
	background-size: 200% auto;
	transition: .3s;
	color: #68310486;
}
.breed_link:hover {
	background-position: -100% 0;
  color: #fff;
}